# Linguist overrides -- ensure accurate language bar on GitHub
*.md linguist-documentation
*.json linguist-data
screenshots/* linguist-generated
*.gif binary
*.jpeg binary
*.jpg binary
*.png binary
*.webp binary
